
.page-header {
  background: url(./media_lib/LogoMakr-layerExport.png) 50% 50% no-repeat;
  border-radius: 8px;
  height: 150px;
  color: white;
  vertical-align: middle;
  border-bottom: none;

}

#newUser {
  background-color: #a1172d;
  border-radius: 8px;
  height: 150px;
  color: white;
  display: flex;
  align-items: center;
  float: center;
    justify-content: center;

}

#logout {
  font-family: sans-serif;
  font-size: 20px;
  width: 100px;
  height: 40px;
  color: white;
  background-color: #4c4c4c;
  /*padding: 10px 1px 10px 1px;*/
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  border: none;
  float: right;
  box-shadow: 0 2px #b2b2b2;
}

#logout:hover {background-color: #666666}

#logout:active {
  background-color: #4c4c4c;
  box-shadow: 0 2px #b2b2b2;
  transform: translateY(3px);
}


#userName {
  float: left;
  margin: 0px;
  font-weight: bold;
  color: #e13434;
}

body {
  background: url(./media_lib/picnic-1208229_1920.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  vertical-align: text-bottom;
  font-size: 56px;
  text-align: center;
  color: white;
  font-family: Roboto, sans-serif;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

h2, h4 {
  vertical-align: text-bottom;
  text-align: center;
  color: white;
  font-size: 22px;
  font-family: Roboto, sans-serif;
  /*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
}
  
.event_name_p {
  color: #c5c2c2;
}

.event_description {
  color: white;
}

.create {
  font-family: Roboto, sans-serif;
  color: black;
  text-shadow: none;
  text-align: left;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.description_input {
  font-family: Roboto, sans-serif;
  color: black;
  text-shadow: none;
  text-align: left;
  margin-left: -5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.list-item {
  font-size: 150%;
}

#username {
  float: left;
}

.eventlist {
  background-color: rgba(2,2,2,.5);
  border-radius: 5px;
  color: white;
  /*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
}

.panel {
  background: none;
}

.selected {
  background-color: #438CFF;
}

/* this all deals with the facebook login button and the formatting for the div containing the
button */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.6em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.center {
  text-align: center;
}

.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

#accept-click {
  background-color: #4286f4;
  color: white;
}

#reject-click {
  background-color: #f47927;
  color: white;
}

.update{
  color: black;
}

.accepted {
  color: #4286f4;
  font-weight: bold;
}

.rejected {
  color: #f47927;
  font-weight: bold;

}

#create_event {
  font-family: sans-serif;
  font-size: 20px;
  width: 200px;
  height: 50px;
  color: white;
  background-color: #e13434;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  border: none;
  display: box;
  margin-top: 30px;
  margin-left: 950px;
  position: absolute;
}

#create_event:hover {background-color: #d02b2b}

#create_event:active {
  background-color: #e13434;
  transform: translateY(3px);
}

.event_name_input {
  margin-left: 10px;
}

.event_category {
  margin-left: 10px;
}

.select_date {
  margin-left: 10px;
}

.minimum_number {
  margin-left: 10px;
}

.description_input_field {
  margin-left: -5px;
  margin-bottom: 10px;
}

.invite_friends {
  font-family: sans-serif;
  font-size: 20px;
  width: 200px;
  height: 50px;
  color: white;
  background-color: #f99702;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  margin-top: 30px;
  margin-right: 200px;
  border: none;
  float: right;
  position: relative;
}

.invite_friends:hover {background-color: #e78c00}
  
.invite_friends:active {
  background-color: #f99702;
  transform: translateY(3px);
}

.inviteFriendsMessage {
  font-family: Roboto, sans-serif;
  color: black;
  text-shadow: none;
  text-align: center;
}

.google-map {
  height: 200px;
  width: 60%;
  margin-bottom: 50px;
}


#my-events-title {
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  padding-left: 40px;
  color:  #e13434;
  text-shadow: 1px 1px #323232;
  /*text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;*/
}

#friend-events-title {
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  padding-left: 40px;
  color:  #e13434;
  text-shadow: 1px 1px #323232;
  /*text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;*/
}

#headerName {
  /*font-weight: bold;*/
  color: #4c4c4c;
  /*text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;*/
}

.goingButton {
  border-radius: 12px;
  background-color: #9fa3b7;
}

/*edit button*/
#owner-edit-button {
  border-radius: 1px;
  background-color: #f99702;
  color: white;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100px;
  margin-left: 150px;
  margin-top: 170px;
  box-shadow: 0 2px #323232;
}

#owner-edit-button:hover {background-color: #e78c00}

#owner-edit-button:active {
  background-color: #f99702;
  /*box-shadow: 0 2px #b2b2b2;*/
  transform: translateY(3px);
}

.submit_button {
  margin-bottom: 10px;
  margin-left: 180px;
  width: 80px;
  height: 30px;
  font-family: sans-serif;
  background-color: #e13434;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  border: none;
}

#submit_button:hover {background-color: #d02b2b}

#submit_button:active {
  background-color: #e13434;
  /*box-shadow: 0 2px #b2b2b2;*/
  transform: translateY(3px);
}

/*delete button*/
#owner-delete-button {
  border-radius: 1px;
  background-color: #bc3231;
  color: white;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100px;
  margin-left: 150px;
  margin-top: 10px;
  margin-bottom: 50px;
  box-shadow: 0 2px #323232;
}
/* DayPicker Calendar styles */

.DayPicker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 1rem 0;
  user-select: none;
}

.DayPicker-Month {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
  margin: 0 1rem;
}

  .DayPicker-NavBar {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 .5rem;
  }

  .DayPicker-NavButton {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }

    .DayPicker-NavButton--prev {
      left: 1rem;
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjI2cHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDI2IDUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4zLjIgKDEyMDQzKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5wcmV2PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM+PC9kZWZzPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+CiAgICAgICAgPGcgaWQ9InByZXYiIHNrZXRjaDp0eXBlPSJNU0xheWVyR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEzLjM5MzE5MywgMjUuMDAwMDAwKSBzY2FsZSgtMSwgMSkgdHJhbnNsYXRlKC0xMy4zOTMxOTMsIC0yNS4wMDAwMDApIHRyYW5zbGF0ZSgwLjg5MzE5MywgMC4wMDAwMDApIiBmaWxsPSIjNTY1QTVDIj4KICAgICAgICAgICAgPHBhdGggZD0iTTAsNDkuMTIzNzMzMSBMMCw0NS4zNjc0MzQ1IEwyMC4xMzE4NDU5LDI0LjcyMzA2MTIgTDAsNC4yMzEzODMxNCBMMCwwLjQ3NTA4NDQ1OSBMMjUsMjQuNzIzMDYxMiBMMCw0OS4xMjM3MzMxIEwwLDQ5LjEyMzczMzEgWiIgaWQ9InJpZ2h0IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K");
    }

    .DayPicker-NavButton--next {
      right: 1rem;
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjI2cHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDI2IDUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4zLjIgKDEyMDQzKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5uZXh0PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM+PC9kZWZzPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+CiAgICAgICAgPGcgaWQ9Im5leHQiIHNrZXRjaDp0eXBlPSJNU0xheWVyR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuOTUxNDUxLCAwLjAwMDAwMCkiIGZpbGw9IiM1NjVBNUMiPgogICAgICAgICAgICA8cGF0aCBkPSJNMCw0OS4xMjM3MzMxIEwwLDQ1LjM2NzQzNDUgTDIwLjEzMTg0NTksMjQuNzIzMDYxMiBMMCw0LjIzMTM4MzE0IEwwLDAuNDc1MDg0NDU5IEwyNSwyNC43MjMwNjEyIEwwLDQ5LjEyMzczMzEgTDAsNDkuMTIzNzMzMSBaIiBpZD0icmlnaHQiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=");
    }


  .DayPicker-Caption {
    display: table-caption;
    height: 1.5rem;
    text-align: center;
  }

  .DayPicker-Weekdays {
    display: table-header-group;
  }

    .DayPicker-WeekdaysRow {
      display: table-row;
    }

      .DayPicker-Weekday {
        display: table-cell;
        padding: .5rem;
        font-size: .875em;
        text-align: center;
        color: #8b9898;
      }

  .DayPicker-Body {
    display: table-row-group;
  }

    .DayPicker-Week {
      display: table-row;
    }

      .DayPicker-Day {
        display: table-cell;
        padding: .5rem;
        border: 1px solid #eaecec;
        text-align: center;
        cursor: pointer;
        vertical-align: middle;
      }

  .DayPicker--interactionDisabled .DayPicker-Day {
    cursor: default;
  }

/* Default modifiers */

.DayPicker-Day--today {
  color: #d0021b;
  font-weight: 500;
}

.DayPicker-Day--disabled {
  color: #dce0e0;
  cursor: default;
  background-color: #eff1f1;
}

.DayPicker-Day--outside {
  cursor: default;
  color: #dce0e0;
}

/* Example modifiers */

.DayPicker-Day--sunday {
  background-color: #f7f8f8;
}

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
  color: #dce0e0;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: #FFF;
  background-color: #4A90E2;
}

#owner-delete-button:hover {background-color: #7f2221}

#owner-delete-button:active {
  background-color: #bc3231;
  /*box-shadow: 0 2px #b2b2b2;*/
  transform: translateY(3px);
}

/*Geosuggest autocomplete styling*/

.geosuggest {
  font-size: 35px;
  font-size: 1rem;
  position: relative;
  width: 50%;
  margin: 1em auto;
  text-align: left;
}

.geosuggest__input {
  width: 200%;
  /*border: 2px solid transparent;*/
  /*box-shadow: 0 0 1px #3d464d;*/
  font-size: 15px;
  padding: .3em 1em;
  float: left;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s;
  margin-left: -70px;
}

.geosuggest__input:focus {
  /*border-color: #267dc0;*/
  /*box-shadow: 0 0 0 transparent;*/
}

.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: -70;
  right: -90;
  max-height: 25em;
  padding: 0;
  margin-top: 40px;
  background: #fff;
  /*border: 2px solid #267dc0;*/
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}


/**
 * A geosuggest item
 */

.geosuggest__item {
  font-size: 5px;
  font-size: 2rem;
  padding: .5em .65em;
  cursor: pointer;
}

.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}

.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}

.geosuggest__item--active:focus {
  background: #ccc;
}
  
#m {
  color: black;
}
